<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Gilmianova_AutoserviceEntities" connectionString="metadata=res://*/Gilmianova_model.csdl|res://*/Gilmianova_model.ssdl|res://*/Gilmianova_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G9SK6FV\SQLEXPRESS;initial catalog=Gilmianova_Autoservice;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>